<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Weather</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="/js/weather.js"></script>
    <link rel="stylesheet" href="weather.css" type="text/css">
</head>
<body>
<form id="form" action="/weather/ajax/show" method="get">
    <input type="text" name="city" id="city" />
    <input type="submit">
</form>
<div id="weather"></div>
</body>
</html>


