{% for weatherItem in items %}
<div class="weather">
    <div class="city">{{ weatherItem.city }}</div>
    <div class="temp"><img style="" src="{{ weatherItem.icon }}"> <span>{{ weatherItem.temp }} ℃</span></div>
    <div class="date">{{ weatherItem.date|date("Y-m-d") }}</div>
</div>
{% endfor %}

