div.weather {
    border: 1px solid black;
    padding: 3px;
    width: 150px;
    height: 150px;
    float:left;
    color: #808080;
    display:table-row;

}
div.weather div {
    width: 100%;
}

.city {
    font-size: 18px;
}
.temp {
    text-align: center;
    margin: 30px 0;
    font-size: 18px;
    font-weight: 600;
    color: #656565;
}
.temp img{
    vertical-align:middle;
    margin-right: 15px;
}
.date {
    text-align: center;
    font-size: 15px;
}
#weather {
    margin-top: 10px;
}